.pulumi
bin
obj
node_modules

awsx/coverage
vendor/
**/Pulumi.*.yaml
**/yarn-error.log
yarn.lock
package-lock.json
.idea/
**/version.txt
**/dist
.DS_Store

ci-scripts/
*.tar.gz

**/venv

!/awsx/yarn.lock
