name: weekly-pulumi-update
on:
  repository_dispatch:
    types: [run-pulumi-update-command]
  schedule:
  # Every Monday at 11AM UTC
  - cron: 0 11 * * 1
  workflow_dispatch: {}

permissions:
  pull-requests: write
  contents: write
env:
jobs:
  weekly-pulumi-update:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    permissions: write-all
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3
    - env:
        ESC_ACTION_ENVIRONMENT: imports/github-secrets
        ESC_ACTION_OIDC_AUTH: "true"
        ESC_ACTION_OIDC_ORGANIZATION: pulumi
        ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
        ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: "false"
      id: esc-secrets
      name: Fetch secrets from ESC
      uses: pulumi/esc-action@9eb774255b1a4afb7855678ae8d4a77359da0d9b
    - name: Setup mise
      uses: jdx/mise-action@v3
      with:
        # Latest working version. See https://github.com/jdx/mise/discussions/6781
        version: 2025.10.16
        github_token: ${{ secrets.GITHUB_TOKEN }}
        cache_key: "mise-{{platform}}-{{file_hash}}"
        cache_save: false
    - name: Update Pulumi/Pulumi
      id: gomod
      run: |
        git config --local user.email 'bot@pulumi.com'
        git config --local user.name 'pulumi-bot'

        PULUMI_VERSION=$(./scripts/get-latest-pulumi-version.sh)
        echo "Latest Pulumi version is $PULUMI_VERSION"
        echo "PULUMI_VERSION=$PULUMI_VERSION" >> "$GITHUB_ENV"

        git checkout -b update-pulumi/$PULUMI_VERSION-${{ github.run_id }}-${{ github.run_number }}

        echo "Updating Pulumi dependencies to $PULUMI_VERSION"
        ./scripts/bump-pulumi-deps.sh --version "$PULUMI_VERSION"

        echo "Updating node @pulumi/pulumi to $PULUMI_VERSION"
        pushd awsx
        # Strips the v from the version to get the correct npm version
        yarn upgrade @pulumi/pulumi@${PULUMI_VERSION#v}
        yarn run dedupe-deps

        echo "Ensure that we don't have any duplicate dependencies"
        yarn run check-duplicate-deps
        popd


        git update-index -q --refresh

        if ! git diff-files --quiet; then
          echo changes=1 >> "$GITHUB_OUTPUT"
        fi
    - name: Commit changes
      if: steps.gomod.outputs.changes != 0
      run: |
        git add .

        git commit -m "Update pulumi/pulumi version to $PULUMI_VERSION"

        git push origin update-pulumi/$PULUMI_VERSION-${{ github.run_id }}-${{ github.run_number }}
    - name: pull-request
      if: steps.gomod.outputs.changes != 0
      env:
        GH_TOKEN: ${{ steps.esc-secrets.outputs.PULUMI_BOT_TOKEN }}
      run: |
        # See https://github.com/cli/cli/issues/6485#issuecomment-2560935183 for --head workaround
        gh pr create --title "Update pulumi/pulumi version to $PULUMI_VERSION" --body "Upgrading pulumi/pkg and pulumi/sdk to version $PULUMI_VERSION." --head $(git branch --show-current)
    - name: Enable auto-merge
      if: steps.gomod.outputs.changes != 0 && github.event_name == 'schedule'
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        gh pr merge --squash --auto "1"
    name: weekly-pulumi-update
