name: awsx-upgrade-aws

description: |
  This weekly workflow creates Pull Requests to upgrade pulumi-aws dependency.

  This dependency is a critical part of the AWSX project and should be kept up-to-date to inherit all the fixes and
  improvements done upstream.

on:
  schedule:
    # Every Monday at 11AM UTC
    - cron: 0 11 * * 1

  # This stanza permits manual execution of the workflow.
  workflow_dispatch: {}

jobs:

  upgrade-aws:
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - env:
          ESC_ACTION_ENVIRONMENT: imports/github-secrets
          ESC_ACTION_OIDC_AUTH: "true"
          ESC_ACTION_OIDC_ORGANIZATION: pulumi
          ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
          ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: "false"
        id: esc-secrets
        name: Fetch secrets from ESC
        uses: pulumi/esc-action@9eb774255b1a4afb7855678ae8d4a77359da0d9b

      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@v1.10.0
        with:
          repo: pulumi/pulumictl

      - name: Prepare Git configuration
        run: |
          git config --local user.email 'bot@pulumi.com'
          git config --local user.name 'pulumi-bot'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: "7.6"

      - name: Setup mise
        uses: jdx/mise-action@v3
        with:
          # Latest working version. See https://github.com/jdx/mise/discussions/6781
          version: 2025.10.16
          github_token: ${{ secrets.GITHUB_TOKEN }}
          cache_key: "mise-{{platform}}-{{file_hash}}"
          cache_save: false

      - name: Upgrade pulumi-aws dependency
        id: upgrade
        env:
          GITHUB_TOKEN: ${{ steps.esc-secrets.outputs.PULUMI_BOT_TOKEN }}
        run: |
          VERSION=$(./scripts/get-latest-aws-version.sh)
          echo "Upgrading pulumi-aws to $VERSION"
          ./scripts/upgrade-aws.sh "$VERSION"
          echo "Upgraded pulumi-aws to $VERSION"

          if ! git diff-files --quiet; then
            echo changes=1        >> "$GITHUB_OUTPUT"
            echo version=$VERSION >> "$GITHUB_OUTPUT"
          else
            echo "No changes detected. Exiting."
          fi

      - name: Commit changes
        if: steps.upgrade.outputs.changes != 0
        env:
          PULUMI_AWS_VERSION: ${{ steps.upgrade.outputs.version }}
        run: |
          branch="update-pulumi-aws/$PULUMI_AWS_VERSION-${{ github.run_id }}-${{ github.run_number }}"
          msg="Update pulumi/pulumi-aws version to $PULUMI_AWS_VERSION"
          git branch "$branch"
          git checkout "$branch"
          git add .
          git commit -m "$msg"
          git push origin "$branch"

      - name: Create a Pull Request
        if: steps.upgrade.outputs.changes != 0
        env:
          GH_TOKEN: ${{ steps.esc-secrets.outputs.PULUMI_BOT_TOKEN }}
          PULUMI_AWS_VERSION: ${{ steps.upgrade.outputs.version }}
        run: |
          branch="update-pulumi-aws/$PULUMI_AWS_VERSION-${{ github.run_id }}-${{ github.run_number }}"
          title="Update pulumi/pulumi-aws version to $PULUMI_AWS_VERSION"
          gh pr create \
              --title "$title" \
              --body "$title" \
              --head "$branch"
